<h1><%= @country.name %></h1>

<p>Best restaurants in <%= @location %>:</p>

<ul>
  <% @results.each do |result| %>
    <li>
      <%= image_tag(result[:rating_img_url]) %>
      <%= link_to result[:name], result[:url] %>
    </li>
  <% end %>
</ul>
